# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Mafciej\Desktop\NA STUDIA\ZARZĄDZANIE INFORMACJĄ 2\ZUT-S1-5-ZI2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
